body {
	width: 75%;
	margin: 0 auto;
	background-color: #F5F5FF;
	background-image: url(images/wallpaper.png);
	}

.gap {
	margin-top: 1cm;
	}

.gop {
	margin-bottom: 1cm;
	}

div.a {
  text-indent: 1em;
}
