body {
	width: 75%;
	margin: 0 auto;
	background-color: #F5F5FF;
	background-image: url(https://assets.onecompiler.app/434gzgq3g/43cksyabu/wallpaper.png);
	}

.gap {
	margin-top: 1cm;
	}

.gop {
	margin-bottom: 1cm;
	}
